[Unit]
Description=Система контролю температури для твердопаливного котла
After=network.target

[Service]
Type=simple
User=raccoon
WorkingDirectory=/home/raccoon/rpi-temp-controll
Environment="PATH=/home/raccoon/rpi-temp-controll/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/raccoon/rpi-temp-controll/venv/bin/python /home/raccoon/rpi-temp-controll/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

# Безпека
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target

